$background-color: #282c34;

@import "navbar.scss";
@import "fonts.scss";
@import "singleMail.scss";
@import "allMail.scss";

html,body {
    @include set-font;
    background-color: $background-color;
    width: 100%;
    margin: 0;
}
