.mailHeader {
    color: white;
}

.bodyIndicator {
    color: white;
}

.mailBody {
    background-color: whitesmoke;
}

.mailLinkToGmail {
    text-decoration: underline;
    color: white;
}

.mailLinkToGmail:hover {
    color: gray;    
    text-decoration: underline;
    transition: all 0.2s;
}